@mixin com_box($w, $h, $raiuds, $bg) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $w;
  height: $h;
  border-radius: $raiuds;
  background: $bg;
}
@mixin com_box_nofont($w, $h, $raiuds, $bg) {
  width: $w;
  height: $h;
  border-radius: $raiuds;
  background: $bg;
}
@mixin com_font($size, $color, $weight) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
@mixin position_center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin abs_left_center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@mixin abs_top_center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin fixed_left_center {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
@mixin fixed_top_center {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
@mixin prop_out_cover() {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.8);
  z-index: 501;
}
@mixin ellipsis($num) {
  @if $num == 1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
    overflow: hidden;
  }
}
@mixin  border_box() {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}
